html{background-color: #f4f4f4}
.item{
	padding: 20px;
	margin-left: 0px;
	/* border-bottom: 1px solid rgb(148, 192, 231); */}
.item h4{margin: 0;}
.item-img{width: 100%;}
.harga-stok{padding-top: 35px;}
.page-footer{border:1px solid #dddddd; 
	background-color:#FFF; padding-top:20px; padding-bottom:20px;}
.adsimg{width:100%}
/*detail sarung*/
img.thumbdetail{width:50px;height:50px;}
img.thumbdetail_primary{width:100%;margin-bottom:10px;}